<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>PlayAround by Salted-Fish</title>

        <!--
        -->

    <!-- compiled css output -->
        <link href="css/ionic.app.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/mapDirective.js"></script>
        <script src="http://api.map.baidu.com/api?v=2.0&ak=GZOFg4UOLYxKWmqGSSIpH6pkAQVWsjCN"></script>
    </head>
    <body ng-app="app">
        <!--
        The nav bar that will be updated as we navigate between views.
        -->
        <ion-side-menus>
            <ion-side-menu-content ng-controller="SceneryInfoCtrl">
                <!-- Header -->
                <div class="bar bar-header bar-energized" id="header" ng-controller="HeaderCtrl">
                    <button class="button icon button-clear ion-ios-arrow-left" ng-click="goBack()"></button>
                    <button class="button icon button-clear ion-navicon" menu-toggle="right"></button>
                </div>

                <!-- Title -->
                <div class="list" id="scenery-title">上海博物馆</div>

                <div id="scenery-content">
                    <!-- Map panel -->
                    <div id="scenery-map-panel">
                        <ion-view view-title = "BDMap" id="map" class="scenery-map">
                            <ion-content>
                                <app-map style="height:100%;margin:0px;" address={{address}}></app-map>
                            </ion-content>
                        </ion-view>
                    </div>

                    <div id="scenery-outer-container">
                        <div id="scenery-prop-ctrl"><div id="prop-ctrl-rec"></div></div>
                        <!-- Tourist attraction list -->
                        <ion-scroll direction="y" id="scenery-scroll">
                            <div class="list" id="scenery-inner-container">
                                <div class="item item-divider">景观信息</div>
                                <div class="item item-text-wrap scenery-item" id="scenery-info-container">
                                    <div id="scenery-info-right-container">
                                        <div id="scenery-rating-container">
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-1"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-2"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-3"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-4"></i>
                                            <i class="icon ion-android-star-half scenery-rating-star scenery-rating-star-5"></i>
                                            <span id="scenery-rating">4.5</span>
                                        </div>
                                        <div id="scenery-rating-cnt-container">
                                            <span id="scenery-rating-cnt">200</span>人评分
                                        </div>
                                        <div id="scenery-user-container">
                                            <div id="scenery-footprint-container">
                                                <i class="icon ion-ios-paw scenery-footprint-icon"></i>
                                                <span id="scenery-footprint">1000</span>人去过
                                            </div>
                                            <div id="scenery-wishlist-container">
                                                <i class="icon ion-clipboard scenery-wishlist-icon"></i>
                                                <span id="scenery-wishlist">1200</span>人想去
                                            </div>
                                            <div id="scenery-like-container">
                                                <i class="icon ion-android-favorite-outline scenery-like-icon"></i>
                                                <span id="scenery-like">800</span>人喜欢
                                            </div>
                                        </div>
                                    </div>
                                    <div id="scenery-info-left-container" ng-controller="TagCtrl">
                                        <!--<div id="scenery-addr-container">
                                            <div id="scenery-addr-title">地址:</div>
                                            <div id="scenery-addr">上海市黄浦区人民大道201号</div>
                                        </div>-->
                                        <div class="scenery-tag-container" id="scenery-tag-container-1">
                                            <p class="scenery-tag-popup-text">景观类型：</p>
                                            <button class="bt-scenery-tag" ng-disabled="isTag1Clicked" ng-click="addTagCnt(tag1)">
                                                <div class="scenery-tag">{{tag1}}</div>
                                                <div class="scenery-tag-cnt">{{tagCnt1}}</div>
                                            </button>
                                            <button class="bt-scenery-add-tag" id="bt-scenery-add-tag-1" ng-click="addTagType1()">+</button>
                                        </div>
                                        <div class="scenery-tag-container" id="scenery-tag-container-2">
                                            <p class="scenery-tag-popup-text">活动类型：</p>
                                            <button class="bt-scenery-tag">
                                                <div class="scenery-tag">学习</div>
                                                <div class="scenery-tag-cnt">100</div>
                                            </button>
                                            <button class="bt-scenery-add-tag" id="bt-scenery-add-tag-2" ng-click="addTagType2()">+</button>
                                        </div>
                                        <div class="scenery-tag-container" id="scenery-tag-container-3">
                                            <p class="scenery-tag-popup-text">建议：</p>
                                            <button class="bt-scenery-tag">
                                                <div class="scenery-tag">门票降价</div>
                                                <div class="scenery-tag-cnt">10</div>
                                            </button>
                                            <button class="bt-scenery-add-tag" id="bt-scenery-add-tag-3" ng-click="addTagType3()">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-divider">景观介绍</div>
                                <div class="item item-text-wrap scenery-item" id="scenery-intro-container">
                                    <p id="scenery-intro" ng-class="{true: 'expanded', false: 'folded'}[isExpanded]">上海博物馆创建于1952年，原址在南京西路325号旧跑马总会，1959年10月迁入河南南路16号旧中汇大楼，现位于上海市中心人民广场的南侧黄浦区人民大道201号。<br />1993年8月，上海博物馆新馆开工建设，1996年10月12日全面建成开放。上海博物馆建筑总面积39200平方米，占地面积1.1万平方米，地下二层，地上五层，高29.5米，总投资5.7亿元。新馆是方体基座与圆形出挑相结合的建筑造型，具有中国“天圆地方”的寓意。馆名“上海博物馆”系建国后上海第一任市长陈毅所书。<br />上海博物馆设有十一个专馆，三个展览厅，陈列面积2,800平方米。馆藏文物近百万件，其中精品文物12万件，其中尤其是以青铜器、陶瓷器、书法、绘画为特色。收藏了来自宝鸡及河南、湖南等地的青铜器，有文物界“半壁江山”之誉，是一座大型的中国古代艺术博物馆。</p>
                                    <button id="bt-scenery-expand-intro" ng-class="{true: 'bt-hide', false: 'bt-block'}[isExpanded]" ng-click="expandIntro()">展开详细介绍</button>
                                </div>
                                <div class="item item-divider">素材库</div>
                                <div class="item scenery-item" id="scenery-image-outer-container">
                                    <ion-scroll direction="x" id="scenery-image-scroll" scrollbar-x="false" scrollbar-y="false">
                                        <div id="scenery-image-inner-container">
                                            <img class="scenery-image" />
                                            <img class="scenery-image" />
                                            <img class="scenery-image" />
                                            <img class="scenery-image" />
                                            <img class="scenery-image" />
                                        </div>
                                    </ion-scroll>
                                </div>
                                <div class="item item-divider">网友评论</div>
                                    <div class="item item-text-wrap scenery-comment-container">
                                        <div class="scenery-comment-time">2016.06.29</div>
                                        <img class="scenery-comment-user-avatar" />
                                        <div class="scenery-comment-username">阿叽米德</div>
                                        <div class="scenery-comment-user-rating">
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-1"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-2"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-3"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-4"></i>
                                            <i class="icon ion-android-star-half scenery-rating-star scenery-rating-star-5"></i>
                                        </div>
                                        <div class="scenery-comment">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                                        <div class="scenery-comment-image-container">
                                            <img class="scenery-comment-image" />
                                        </div>
                                        <div class="scenery-comment-clear"></div>
                                    </div>
                                    <div class="item item-text-wrap scenery-comment-container">
                                        <div class="scenery-comment-time">2016.06.29</div>
                                        <img class="scenery-comment-user-avatar" />
                                        <div class="scenery-comment-username">阿叽米德</div>
                                        <div class="scenery-comment-user-rating">
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-1"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-2"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-3"></i>
                                            <i class="icon ion-android-star scenery-rating-star scenery-rating-star-4"></i>
                                            <i class="icon ion-android-star-half scenery-rating-star scenery-rating-star-5"></i>
                                        </div>
                                        <div class="scenery-comment">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</div>
                                        <div class="scenery-comment-image-container">
                                            <img class="scenery-comment-image" />
                                        </div>
                                        <div class="scenery-comment-clear"></div>
                                    </div>
                                    <button id="bt-scenery-comment-more">更多评论</button>
                            </div>
                        </ion-scroll>
                    </div>
                </div>
                <div>
                    <!-- Popup background -->
                    <div class="bar" id="scenery-popup-bg" ng-show="popup"></div>
                    <!-- Add comment popup -->
                    <ion-content class="scenery-popup" id="scenery-add-comment-popup" scroll="false" ng-show="commentPopup">
                        <div class="scenery-popup-title" id="scenery-add-comment-popup-title">添加评价</div>
                        <form action="/file_upload" id="comment-form">
                            <div class="scenery-popup-container" id="scenery-add-comment-rating-container">
                                <p class="scenery-add-comment-text scenery-popup-text">评分</p>
                                <span class="scenery-rating-label">1</span>
                                <input type="range" name="rating" id="scenery-add-comment-rating-input" />
                                <span class="scenery-rating-label">5</span>               
                            </div>
                            <div class="scenery-popup-container" id="scenery-add-comment-comment-container">
                               <p class="scenery-add-comment-text scenery-popup-text">评论</p>
                               <textarea form="comment-form" id="scenery-add-comment-comment-input"></textarea>
                            </div>
                            <div class="scenery-popup-container" id="scenery-add-comment-file-container">
                                <p class="scenery-add-comment-text scenery-popup-text">素材</p>
                                <input type="file" multiple id="scenery-add-file" />
                            </div>                
                            <div class="scenery-popup-container scenery-popup-button-container" id="scenery-add-comment-button-container">
                                <button class="bt-popup-commit" id="bt-scenery-add-comment-commit" ng-click="commitComment()">提交</button>
                                <button class="bt-popup-cancel" id="bt-scenery-add-comment-cancel" ng-click="hideCommentPopup()">取消</button>
                            </div>
                        </form>
                    </ion-content>
                    <!-- Route popup -->
                    <ion-content class="scenery-popup" id="scenery-route-popup" scroll="false" ng-show="routePopup">
                        <div class="scenery-popup-title" id="scenery-route-popup-title">查询路线</div>
                        <div class="scenery-popup-container" id="scenery-route-start-container">
                            <p class="scenery-route-text scenery-popup-text">起点</p>
                            <input type="text" id="scenery-route-start-input"/>                  
                        </div>
                        <div class="scenery-popup-container" id="scenery-route-end-container">
                           <p class="scenery-route-text scenery-popup-text">终点</p>
                           <input type="text" id="scenery-route-end-input"/>
                        </div>               
                        <div class="scenery-popup-container scenery-popup-button-container" id="scenery-route-button-container">
                            <button class="bt-popup-commit" id="bt-scenery-route-commit" ng-click="commitRoute()">确定</button>
                            <button class="bt-popup-cancel" id="bt-scenery-route-cancel" ng-click="hideRoutePopup()">取消</button>
                        </div>
                    </ion-content>
                    <!-- Report popup -->
                    <ion-content class="scenery-popup" id="scenery-report-popup" scroll="false" ng-show="reportPopup">
                        <div class="scenery-popup-title" id="scenery-report-popup-title">报错</div>
                        <div class="scenery-popup-container" id="scenery-report-container">
                            <textarea id="scenery-report-input"></textarea>                 
                        </div>              
                        <div class="scenery-popup-container scenery-popup-button-container" id="scenery-report-button-container">
                            <button class="bt-popup-commit" id="bt-scenery-report-commit" ng-click="commitReport()">提交</button>
                            <button class="bt-popup-cancel" id="bt-scenery-report-cancel" ng-click="hideReportPopup()">取消</button>
                        </div>
                    </ion-content>
                    <!-- Share popup -->
                    <ion-content class="scenery-popup" id="scenery-share-popup" scroll="false" ng-show="sharePopup">
                        <div class="scenery-popup-title" id="scenery-share-popup-title">分享到</div>
                        <div class="scenery-popup-container" id="scenery-share-share-button-container">
                            <!-- 添加各第三方平台的分享按钮 -->
                        </div>
                        <div class="scenery-popup-container scenery-popup-button-container" id="scenery-share-button-container">
                            <button class="bt-popup-cancel" id="bt-scenery-share-cancel" ng-click="hideSharePopup()">取消</button>
                        </div>            
                    </ion-content>
                    <!-- Questionnaire & advice button popup -->
                    <ion-content class="scenery-popup" id="scenery-qabt-popup" scroll="false" ng-show="qabtPopup">
                        <div class="scenery-popup-title" id="scenery-qabt-popup-title">感谢您的评价！</div>
                        <button class="bt-popup-commit" id="bt-scenery-qabt-questionnaire" ng-click="showQuestionnairePopup()">填写调查问卷</button>
                        <button class="bt-popup-commit" id="bt-scenery-qabt-advice" ng-click="showAdvicePopup()">填写建议</button>
                        <div class="scenery-popup-container scenery-popup-button-container" id="scenery-share-button-container">
                            <button class="bt-popup-cancel" id="bt-scenery-share-cancel" ng-click="hideQabtPopup()">取消</button>
                        </div>            
                    </ion-content>
                    <!-- Report popup -->
                    <ion-content class="scenery-popup" id="scenery-questionnaire-popup" scroll="true" ng-show="questionnairePopup">
                        <div class="scenery-popup-title" id="scenery-questionnaire-popup-title">调查问卷</div>
                        <div class="scenery-popup-container" id="scenery-questionnaire-container-1">
                            <p class="scenery-questionnaire-text">1. PJ写完了吗？</p>
                            <textarea class="scenery-questionnaire-textarea" id="scenery-questionnaire-input-1"></textarea>                 
                        </div> 
                        <div class="scenery-popup-container" id="scenery-questionnaire-container-2">
                            <p class="scenery-questionnaire-text">2. PJ写得开心吗？</p>
                            <textarea class="scenery-questionnaire-textarea" id="scenery-questionnaire-input-2"></textarea>                 
                        </div>
                        <div class="scenery-popup-container" id="scenery-questionnaire-container-3">
                            <p class="scenery-questionnaire-text">3. 强迫症治好了吗？</p>
                            <textarea class="scenery-questionnaire-textarea" id="scenery-questionnaire-input-3"></textarea>                 
                        </div> 
                        <div class="scenery-popup-container scenery-popup-button-container" id="scenery-questionnaire-button-container">
                            <button class="bt-popup-commit" id="bt-scenery-questionnaire-commit" ng-click="commitQuestionnaire()">提交</button>
                            <button class="bt-popup-cancel" id="bt-scenery-questionnaire-cancel" ng-click="hideQuestionnairePopup()">取消</button>
                        </div>
                    </ion-content>
                    <!-- Advice popup -->
                    <ion-content class="scenery-popup" id="scenery-advice-popup" scroll="false" ng-show="advicePopup">
                        <div class="scenery-popup-title" id="scenery-advice-popup-title">建议</div>
                        <div class="scenery-popup-container" id="scenery-advice-container">
                            <textarea id="scenery-advice-input"></textarea>                 
                        </div>              
                        <div class="scenery-popup-container scenery-popup-button-container" id="scenery-advice-button-container">
                            <button class="bt-popup-commit" id="bt-scenery-advice-commit" ng-click="commitAdvice()">提交</button>
                            <button class="bt-popup-cancel" id="bt-scenery-advice-cancel" ng-click="hideAdvicePopup()">取消</button>
                        </div>
                    </ion-content>
                    <!-- Add tag popup -->
                    <ion-content class="scenery-popup" id="scenery-tag-popup" scroll="false" ng-show="tagPopup">
                        <div class="scenery-popup-title" id="scenery-tag-popup-title">添加{{tagType}}标签</div>
                        <input type="text" id="scenery-tag-input"/>                  
                        <div class="scenery-popup-container scenery-popup-button-container" id="scenery-tag-button-container">
                            <button class="bt-popup-commit" id="bt-scenery-tag-commit" ng-click="commitTag()">确定</button>
                            <button class="bt-popup-cancel" id="bt-scenery-tag-cancel" ng-click="hideTagPopup()">取消</button>
                        </div>
                    </ion-content>

                    <!-- Footer -->
                    <div class="bar bar-footer">
                        <button class="bt-scenery-footer" id="bt-scenery-add-wishlist" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isWishlist]" ng-click="flipWishlist()">
                            <i class="ion-clipboard scenery-footer-icon" id="scenery-add-wishlist-icon" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isWishlist]"></i>
                            <p class="scenery-footer-text" id="scenery-add-wishlist-text" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isWishlist]">想去</p>
                        </button>
                        <button class="bt-scenery-footer" id="bt-scenery-add-footprint" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isFootprint]" ng-click="flipFootprint()">
                            <i class="ion-ios-paw scenery-footer-icon" id="scenery-add-footprint-icon" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isFootprint]"></i>
                            <p class="scenery-footer-text" id="scenery-add-footprint-text" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isFootprint]">去过</p>
                        </button>
                        <button class="bt-scenery-footer" id="bt-scenery-add-like" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isLike]" ng-click="flipLike()">
                            <i class="ion-android-favorite-outline scenery-footer-icon" id="scenery-add-like-icon" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isLike]"></i>
                            <p class="scenery-footer-text" id="scenery-add-like-text" ng-class="{true: 'bt-clicked', false: 'bt-unclicked'}[isLike]">喜欢</p>
                        </button>
                        <button class="bt-scenery-footer" id="bt-scenery-add-comment" ng-click="showCommentPopup()">
                            <i class="ion-compose scenery-footer-icon" id="scenery-add-comment-icon"></i>
                            <p class="scenery-footer-text" id="scenery-add-comment-text">评价</p>
                        </button>
                        <button class="bt-scenery-footer" id="bt-scenery-share" ng-click="showSharePopup()">
                            <i class="ion-share scenery-footer-icon" id="scenery-share-icon"></i>
                            <p class="scenery-footer-text" id="scenery-share-text">分享</p>
                        </button>
                        <button class="bt-scenery-footer" id="bt-scenery-route" ng-click="showRoutePopup()">
                            <i class="ion-android-navigate scenery-footer-icon" id="scenery-route-icon"></i>
                            <p class="scenery-footer-text" id="scenery-route-text">路线</p>
                        </button>
                        <button class="bt-scenery-footer" id="bt-scenery-report" ng-click="showReportPopup()">
                            <i class="ion-android-alert scenery-footer-icon" id="scenery-report-icon"></i>
                            <p class="scenery-footer-text" id="scenery-report-text">报错</p>
                        </button>
                    </div>
                </div>
            </ion-side-menu-content>
            <ion-side-menu side="right">
                <ion-list>
                    <a class="item item-avatar item-stable" href="#">
                        <img src="./img/adam.jpg"/>
                        <h2>用户</h2>
                        <p>不可描述</p>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-home"></i>
                        主页
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-search"></i>
                        搜索
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-bookmark"></i>
                        心愿单
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-heart"></i>
                        喜欢
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-android-walk"></i>
                        足迹
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-calendar"></i>
                        历史
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thumbsup"></i>
                        推荐
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-information-circled"></i>
                        关于我们
                    </a>
                </ion-list>
            </ion-side-menu>
        </ion-side-menus>
        <!--
        The views will be rendered in the <ion-nav-view> directive below
            Templates are in the /templates folder (but you could also
            have templates inline in this html file if you'd like).
            -->
            <ion-nav-view></ion-nav-view>
        </body>
    </html>
