<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>PlayAround by Salted-Fish</title>

        <!--
        -->

    <!-- compiled css output -->
        <link href="css/ionic.app.css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>

        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

        <!-- your app's js -->
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/mapDirective.js"></script>
        <script src="http://api.map.baidu.com/api?v=2.0&ak=GZOFg4UOLYxKWmqGSSIpH6pkAQVWsjCN"></script>
    </head>
    <body ng-app="app">
        <ion-side-menus>
            <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
                <!-- Header -->
                <div class="bar bar-header bar-energized" id="header" ng-controller="HeaderCtrl">
                    <button class="button icon button-clear ion-ios-arrow-left" ng-click="goBack()"></button>
                    <button class="button icon button-clear ion-navicon" menu-toggle="right"></button>
                </div>

                <!-- Search bar -->
               <div class="list" id="search-bar" ng-controller="SearchCtrl">
                    <div class="item item-input" id="search-bar-inner">
                        <input type="text" id="search-input" ng-click="showHistory()">
                        <button class="button icon ion-ios-search-strong button-energized button-clear"></button>
                    </div>
                    <div class="item search-history" ng-show="isHistoryShown">搜索历史1</div>
                    <div class="item search-history" ng-show="isHistoryShown">搜索历史2</div>
                </div>

                <div id="content" ng-controller="SceneryListCtrl">
                    <!-- Map panel -->
                    <div id="map-panel">
                        <ion-view view-title = "BDMap" id="map">
                            <ion-content>
                                <app-map style="height:100%;margin:0px;" address={{address}}></app-map>
                            </ion-content>
                        </ion-view>
                        <!-- Filter panel -->
                        <div class="list" id="filter-panel" ng-controller="FilterCtrl">
                            <div class="item filter-item ion-funnel" id="filter-icon"></div>
                            <div class="item filter-item ion-android-image" id="filter-1" ng-class="{true: 'filter-on', false: 'filter-off'}[isFilter1On]" ng-click="flipFilter1()"></div>
                            <div class="item filter-item ion-university" id="filter-2" ng-class="{true: 'filter-on', false: 'filter-off'}[isFilter2On]" ng-click="flipFilter2()"></div>
                            <div class="item filter-item ion-ios-book" id="filter-3" ng-class="{true: 'filter-on', false: 'filter-off'}[isFilter3On]" ng-click="flipFilter3()"></div>
                            <div class="item filter-item" id="filter-expand-button"></div>
                        </div>
                    </div>

                    <div id="list-outer-container">
                        <div id="prop-ctrl"><div id="prop-ctrl-rec"></div></div>
                        <!-- Sort by option -->
                        <div class="list" id="sort-menu">
                            <div class="item sort-item item-icon-right" id="current-sort-container" ng-click="showSortMenu()">
                                <span id="current-sort">{{ sortMetric }}</span>
                                <i class="icon ion-ios-arrow-down" id="sort-expand-icon"></i>
                            </div>
                            <div id="sort-item-container" ng-show="isSortMenuShown">
                                <div class="item sort-item" ng-show="!isSortByRecommend" ng-click="sortByRecommend()">智能排序</div>
                                <div class="item sort-item" ng-show="!isSortByRating" ng-click="sortByRating()">最高评分</div>
                                <div class="item sort-item" ng-show="!isSortByWishlist" ng-click="sortByWishlist()">最多想去</div>
                                <div class="item sort-item" ng-show="!isSortByFootprint" ng-click="sortByFootprint()">最多去过</div>
                                <div class="item sort-item" ng-show="!isSortByLike" ng-click="sortByLike()">最多喜欢</div>
                            </div>
                        </div>
                        <!-- Tourist attraction list -->
                        <ion-scroll direction="y" id="list-scroll" scrollbar-y="false">
                            <div id="list-inner-container">
                                <div class="list" id="ta-list">
                                    <div class="item ta-item">1</div>
                                    <div class="item ta-item" ng-click="jumpToScenery()">
                                        <div class="ta-left-container">
                                            <div class="ta-order">2</div>
                                            <i class="icon ion-android-cart ta-type-icon"></i>
                                        </div>
                                        <div class="ta-image-container" "></div>
                                        <div class="ta-info-container">
                                            <div class="ta-name" >上海博物馆</div>
                                            <div class="ta-rating-container">
                                                <i class="icon ion-android-star ta-rating-star ta-rating-star-1"></i>
                                                <i class="icon ion-android-star ta-rating-star ta-rating-star-2"></i>
                                                <i class="icon ion-android-star ta-rating-star ta-rating-star-3"></i>
                                                <i class="icon ion-android-star ta-rating-star ta-rating-star-4"></i>
                                                <i class="icon ion-android-star-half ta-rating-star ta-rating-star-5"></i>
                                                <span class="ta-rating">4.5</span>
                                            </div>
                                        </div>
                                        <div class="ta-user-container">
                                            <div class="ta-footprint-container">
                                                <i class="icon ion-ios-paw ta-footprint-icon"></i>
                                                <span class="ta-footprint">1000</span>
                                            </div>
                                            <div class="ta-wishlist-container">
                                                <i class="icon ion-clipboard ta-wishlist-icon"></i>
                                                <span class="ta-wishlist">1200</span>
                                            </div>
                                            <div class="ta-like-container">
                                                <i class="icon ion-android-favorite-outline ta-like-icon"></i>
                                                <span class="ta-like">800</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item ta-item">3</div>
                                    <div class="item ta-item">4</div>
                                    <div class="item ta-item">5</div>
                                </div>
                            </div>
                        </ion-scroll>
                    </div>
                </div>
            </ion-side-menu-content>
            <ion-side-menu side="right">
                <ion-list>
                    <a class="item item-avatar item-stable" href="#">
                        <img src="./img/adam.jpg"/>
                        <h2>用户</h2>
                        <p>不可描述</p>
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-home"></i>
                        主页
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-search"></i>
                        搜索
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-bookmark"></i>
                        心愿单
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-heart"></i>
                        喜欢
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-android-walk"></i>
                        足迹
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-calendar"></i>
                        历史
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-thumbsup"></i>
                        推荐
                    </a>
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-information-circled"></i>
                        关于我们
                    </a>
                </ion-list>
            </ion-side-menu>
        </ion-side-menus>
        <ion-nav-view>
        </ion-nav-view>
    </body>
</html>
